
* {
    margin: 0;
    padding: 0;
}
.menu-top {
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
}
.menu-top-link {
    font-family: Roboto, sans-serif;
color:  #16a085;
font-size: 18px;
font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}
.img-top {
    text-align:center;    
}

.img-top img {
    max-width: 100%;
}

.bottom-text {
    background-color: #f5f6f7; 
    text-transform: uppercase;
}
.upper-text {
    font-family: Roboto, sans-serif;
    color: #373737;
    font-size: 22px;
    font-weight: 700;
     text-transform: uppercase;
      text-align: center;
     margin-top: 56px;
     margin-bottom: 34px;
}
.text {
 font-family: Roboto, sans-serif;
    text-align:center; 
    color:  #373737;
    font-size: 16px;
    font-weight: 900;
    line-height: 26px;
    margin-left: 113px;
    margin-right: 108px;
}
.text2 {
font-family: Roboto, sans-serif;   
text-align:center; 
color:  #373737; 
font-size: 16px;   
font-weight: 900;
line-height: 26px; 
margin-left: 113px;
margin-right: 108px;     
margin-bottom: 41px;        
}
.btn {
  font-family: Roboto, sans-serif;   
 text-transform: uppercase;  
 text-decoration: none;
color: #white
font-size: 18px; 
font-weight: 700;
line-height: 20px;    
background-color:  #16a085;
border-radius: 3px;
padding: 12px;    
width: 192px;
height: 51px;  
margin-top: 94px;    
}
.bottomtext {
margin-top: 94px;    
}